<!DOCTYPE html>
<html>
  <head>
    <title>List a Space</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/static/style.css" />
    <!-- <script src="https://sdk.amazonaws.com/js/aws-sdk-2.1605.0.min.js"></script> -->
    <link rel="stylesheet" href="/static/list_a_space.css" type="text/css" />
    <!-- <script type="text/javascript" src="/static/listSpace.js" defer></script> -->
  </head>
  <body>
    {% include 'navbar/navbar.html' %}

    <br /><br />
    <div class="list-a-space-form-container">
      <h2>List Your Property!</h2>
      <form action="/list_a_space" method="POST" enctype="multipart/form-data">
        <div class="list-a-space-form-container">
          <label for="space_name">Property Name</label>
          <input type="text" name="space_name" id="space_name" />
          <label for="space_description">Description</label>
          <input type="text" name="space_description" id="space_description" />
          <label for="price">Price</label>
          <input type="number" name="price" id="price" /> <br /><br />
          <input
            type="file"
            name="space_image"
            accept="image/*"
            value="Upload Photo of Space"
          />
          <input type="submit" value="Create Space" />
        </div>
        <br />
        <p><a href="/spaces">Back to list of spaces </a></p>
      </form>
    </div>

    {% include 'footer/footer.html' %}
  </body>
</html>
